# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.elf
*.bin

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
# *.a
*.lib

# Executables
*.exe
*.out
*.app
*.bin

# PROS FILES
*.log
*.bin
*.ini

.vscode/*
desktop.ini
compile_commands.json
bin/output.elf
bin/output.bin
bin/_pros_ld_timestamp.o
compile_commands.json
